    /** Variables generales**/

:root {
    --main-c: #fd72d;
    --border-r: .2rem;
    --color-p: #0d1072;
    --color-s: #ffffff;
    --border: .2rem;
}

/** Estilos generales**/


.html * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.wrap-logo img {
    max-width: 35px; /* Tamaño máximo */
    height: auto;
  }

  /* seccion de quienes somos  */

  .quienes-somos {
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.container p {
    text-align:justify;
    font-size:18px;
}

.wrap-title-section ul {
    text-align:justify;
    font-size:18px
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}


.quienes-somos-content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


/** Estilos para resolucion de inferior a 600 px**/

@media (max-width:600px) {

    /** Padding contenedor principal**/
    .contendor-principal {
        padding: 10px;
    }


    /** Secion principal**/

    .wrap-hero-section {
        max-width: 600px;
        color: #f9f9f9;
        padding: 15%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: justify;

    }

    .wrap-hero-section h1 {
        font-size: 35px;
        text-align: center;
    }

    /** Seccion hero  **/

    .wrap-cta {
        padding: 1.5rem 0;
    }

    .cta-a {
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: var(--main-c);
        padding: .5rem 1rem;
        border-radius: var(--border-r);
    }

    /**   Hero section **/
    .hero-section {
        margin-top: 10px;
        height: 90vh;
        background: url(https://res.cloudinary.com/dhk4iu5za/image/upload/v1738365372/oficina_aiopzn.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(106, 141, 163, 0.7);
        background-blend-mode: multiply;
        display: flex;
        align-items: center;

    }


    /** Logo principal**/
    .logo-header {
        max-width: 35px;
        height: 100%;
        width: 100%;
    }

    /**Logos tecnologias**/
    img {
        width: 100px;
        height: 100px;
    }

    /** two colums section 
    
.wrap-img_two-column img {
        padding: 2rem;
        height: 250px;
        width: 270px;
        margin: 10px;
    }
   


    **/

    /** Seccion mas caracteristicas**/

    .wrap-text-column p {
        padding-bottom: 1rem;
        margin: 15px;
        text-align: justify;
    }

    /** imagen seccion Caracteristicas de nuestros servicios **/
    .logosection {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;



    }

    .logosection img {
        width: 300px;
        height: 240px;
        padding: 0.5px;
        margin-bottom: 2px;
        border-radius: 20px;
    }


    /** Formulario seccion
    **/


    /**
    
    **/

    .section-two-column-section-form {
    
        background-color: #f3f4f7;
        margin:0 auto;
       


    }


    .wrap-title-section-form {
        text-align: center;
        font-size: 20px;
        padding: 1rem;
    }

    .form input,
    .form textarea {
        display: flex;
        width: 98%;
        line-height: 1.75rem;
        border: 1.5px solid #cbcbcb;
        border-radius: var(--border-r);
        margin-top: 3px;
        border-radius: 15px
    }

    .form textarea {
        min-height: 200px;
    }

    input[type="submit"] {
        border: 0;
        display: inline;
        cursor: pointer;
        background: #20438d;
        height: 50px;
        width: 100px;
    }

    /** Footer **/

    .footer-section {
        max-width: 1200px;
        margin: 0 auto;
    }

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: black;
    }

    /** footer**/
    .wrap-social-logos ul,
    .wrap-menu-footer-section ul {
        display: flex;
        justify-content: center;
        list-style: none;

    }

    .social-logo {
        max-width: 50px;
        height: 50px;
        width: 100%;
        padding: 1rem;
    }

    .wrap-menu-footer-section ul li {
        font-size: 1.1rem;
        padding: 1rem;

    }

    .footer-creds p {
        text-align: center;
        font-size: 13px;
    }

    /** Header **/

    .header-landing {
        display: flex;
        justify-content: center;
        background: #f2f2f2;
        padding: 0.25rem;

    }

    /**  Logo Brand Section   **/

    .section {
        margin: 1 rem 0;

    }

    .wrap-logos-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .logos-section {
        text-align: center;
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 150px
    }

    .logos-section h2 {
        margin-bottom: 60px;
    }

    .logo-brand {
        width: 200px;
        padding: 1rem 2rem;
        filter: grayscale(1);
    }

    /**  Caracteristicas nuestros servicios **/

    .wrap-title-section {
        text-align: center;
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 40px;

    }

    .wrap-title-section p {
        font-size: 18px;
        text-align: justify;
        padding: 20px;
    }

    /** Servicios Section  **/

    .wrap-servicios-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 30px;

    }

    .wrap-servicios-section img {
        border-radius: 40px;
    }

    /** Secccion imagenes categorias serviciso**/
    .item-servicios-section {
        padding: 1rem;
        text-decoration: none;
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .item-servicios-section img {
        width: 300px;
        height: 225px;
    }

    /** two colums section **/

    .wrap-two-column {
        display: flex;
    }

    .wrap-text-column {

        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        padding: 30px;
    }


    .wrap-text-column h3 {

        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        padding: 30px;
    }

    .wrap-text-column h2 {
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .menu-footer-section {
        padding: 1rem;
        margin-right: 50px;
        margin-left: 20px;
    }

    .menu-footer-section-copy {
        text-align: center;
        padding: 2rem;
        font-size: 13px;

    }

}



/** estilos para resolucion superior a 600 px **/
@media(min-width: 601px) {


    /** Padding contenedor principal**/
    .contendor-principal {
        padding: 10px;
    }


    /** Secion principal**/

    .wrap-hero-section {
        max-width: 600px;
        color: #f9f9f9;
        padding: 15%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: justify;

    }

    .wrap-hero-section h1 {
        font-size: 35px;
        text-align: center;
    }

    /** Seccion hero  **/

    .wrap-cta {
        padding: 1.5rem 0;
    }

    .cta-a {
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: var(--main-c);
        padding: .5rem 1rem;
        border-radius: var(--border-r);
    }

    /**   Hero section **/
    .hero-section {
        margin-top: 10px;
        height: 90vh;
        background: url(https://res.cloudinary.com/dhk4iu5za/image/upload/v1738365372/oficina_aiopzn.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(106, 141, 163, 0.7);
        background-blend-mode: multiply;
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;

    }


    /** Logo principal**/
    .logo-header {
        max-width: 35px;
        height: 100%;
        width: 100%;
    }

    /**Logos tecnologias**/
    img {
        width: 100px;
        height: 100px;
    }

    /** two colums section 
    
.wrap-img_two-column img {
        padding: 2rem;
        height: 250px;
        width: 270px;
        margin: 10px;
    }
   


    **/

    /** Seccion mas caracteristicas**/

    .wrap-text-column p {
        padding-bottom: 1rem;
        margin: 15px;
        text-align: justify;
    }

    /** imagen seccion Caracteristicas de nuestros servicios **/
    .logosection {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;



    }

    .logosection img {
        width: 300px;
        height: 240px;
        padding: 0.5px;
        margin-bottom: 2px;
        border-radius: 20px;
    }


    /** Formulario seccion**/

    .prue{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        width: 100%;
        height:40rem;
    }
    
    .prue img{
        width: 60rem;
        height: 40rem;
        opacity: 0.5;
    }



    .wrap-text-column input {
        margin-bottom: 2.5rem;
    }

    .section-two-column-section-form {

        grid-column: 2/2;
        grid-row: 1;
        background-color: #f3f9fc;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .wrap-title-section-form {
        text-align: center;
        font-size: 20px;
        padding: 1rem;
    }


    /** Estilos para el boton enviar en el formulario */

   button{
    border:0;
    background-image: linear-gradient(
        150deg,
        #9500,
        rgb(0, 110, 255),
        #6200ff
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding:4px;
    cursor:pointer;
    transition: 3s;
    margin: auto;
    margin-top:2rem
    
   }

   button span{
    background-color:#111;
    padding: 16px 24px;
    border-radius:6px;
    transition:3s;
   }

   button:hover span{
    background:none;

   }
   button:active {
    transform:scale(0,9)
   }



    .form input,
    .form textarea {
        display: flex;
        width: 98%;
        line-height: 1.75rem;
        border: 1.5px solid #cbcbcb;
        border-radius: var(--border-r);
        margin-top: 3px;
        border-radius: 15px
    }

    .form textarea {
        min-height: 200px;
    }

    input[type="submit"] {
        border: 0;
        display: inline;
        cursor: pointer;
        background: #20438d;
        height: 50px;
        width: 100px;
    }

    /** Footer **/

    .footer-section {
        max-width: 1200px;
        margin: 0 auto;
    }

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: black;
    }

    /** footer**/
    .wrap-social-logos ul,
    .wrap-menu-footer-section ul {
        display: flex;
        justify-content: center;
        list-style: none;

    }

    .social-logo {
        max-width: 50px;
        height: 50px;
        width: 100%;
        padding: 1rem;
    }

    .wrap-menu-footer-section ul li {
        font-size: 1.1rem;
        padding: 1rem;

    }

    .footer-creds p {
        text-align: center;
        font-size: 13px;
    }

    /** Header **/

    .header-landing {
        display: flex;
        justify-content: center;
        background: #f2f2f2;
        padding: 0.25rem;

    }



    /**  Logo Brand Section   **/

    .section {
        margin: 1 rem 0;

    }

    .wrap-logos-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .logos-section {
        text-align: center;
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 150px
    }

    .logos-section h2 {
        margin-bottom: 60px;
    }

    .logo-brand {
        width: 200px;
        padding: 1rem 2rem;
        filter: grayscale(1);
    }

    /**  Caracteristicas nuestros servicios **/

    .wrap-title-section {
        text-align: center;
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 40px;

    }

    .wrap-title-section p {
        font-size: 18px;
        text-align: justify;
        padding: 20px;

        margin-left: 40px;
    }

    /** Servicios Section  **/

    .wrap-servicios-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 30px;

    }

    .wrap-servicios-section img {
        border-radius: 40px;
    }

    /** Secccion imagenes categorias serviciso**/
    .item-servicios-section {
        padding: 1rem;
        text-decoration: none;
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .item-servicios-section img {
        width: 300px;
        height: 225px;
    }

    /** two colums section **/

    .wrap-two-column {
        display: flex;
    }

    .wrap-text-column {

        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        padding: 30px;
    }


    .wrap-text-column h3 {

        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        padding: 30px;
    }

    .wrap-text-column h2 {
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .menu-footer-section {
        padding: 1rem;
        margin-right: 50px;
        margin-left: 20px;
    }

    .menu-footer-section-copy {
        text-align: center;
        padding: 2rem;
        font-size: 13px;

    }

}



