/** Variables generales**/

:root {
    --main-c:#fd72d;
    --border-r:.2rem;
    --color-p: #0d1072;
    --color-s: #ffffff;
    --border: .2rem;
}

/** Estilos generales**/


.html * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
    color: var(--color-p)
}

.p {
    font-size:1.1rem;
}


a{
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.logo {
    width: 100px;
    height: 100px;
}

img{
    width: 300px;
    height:300px
}


